{% extends "base.html" %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}home{% endblock%}</title>
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>

<body>
  <section class="section">
    <div class="container">

      {% block content %}
      <!-- jinja standard code for flash message -->
      <p>{% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="notification is-warning">
          <button class="delete"></button>
          {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
      </p>


      <div class="columns">
        <div class="column is-half">

          <form action="your-url" method="post">


            <div class="field">
              <input class="input" type="url" name='inputurl' value="" placeholder="Enter url">
            </div>

            <div class="field">
              <input class="input" type="text" name='shortname' value="" placeholder="Enter short name">
            </div>


            <div class="field">
              <input type="submit" class="button is-success">
            </div>

          </form>

          <div class="content is-normal mt-5">
            <p>Test para</p>
          </div>

          {% if shortnames %}
          <h2>The shortnames that you alrady created:</h2>
          <ul>
            {% for shortname in shortnames %}
            <a href="{{ url_for('urlshort.redirect_to_url', code=shortname) }}">
            <li>{{ shortname }}</li>
          </a>
            {% endfor %}
          </ul>
          {% endif %}



        </div>


        <div class="column is-half">

          <form action="your-url" method="post" enctype="multipart/form-data">
            <div class="field">
              <div class="file">
                <label class="file-label">
                  <input  type="file" name="file">
                </label>
              </div>
            </div>

            <div class="field">
              <input class="input" type="text" name='shortname' value="" placeholder="Enter short name">
            </div>

            <div class="field">
              <input type="submit" class="button is-info">
            </div>


          </form>

        </div>

      </div>
      {% endblock %}
    </div>
  </section>
</body>
<script src="https://kit.fontawesome.com/e61991e19a.js" crossorigin="anonymous"></script>
</html>
